*{list-style:none;
    margin:0;
    padding:0;
    text-decoration:none;
    font-family: 'Fraunces', serif;
}

.background_img{
    margin:auto;
    align-content: center;
    opacity: 30%;
    position:relative;
    size:100vh;
    border:none;
}

.background_img img {
    width: 75%;
    height: auto;
    border: none;
}

.placeholder-text{
    display:flex;
}
.placeholder-text h2{
    width:50%;
    border-style: solid;
    border-width: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
    margin-left:25vw;
    margin-top:45px;
}

.message {
    display:flex;
    width:50%;
    border-style: solid;
    border-width: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
    margin-left:25vw;
    margin-top:45px;
}

.contactus li{
    font-size:36px;
    margin-top:10vh;
    margin-bottom:15vh;
    text-decoration:underline;

}

/* Contact Page */




.content .contactInfo{
    position:relative;
    display:flex;
    justify-content: center;
    align-items:center;
    flex-direction:column;
    background-color:black;
    background-size:cover;
    width:100%;
    display:flex;
    justify-content: center;
    align-items:center;
    margin-top:30px;
}
.contactInfo {
    width: 50%;
    display:flex;
    flex-direction: column;
}
.contactInfo .box{
    position:relative;
    padding:20px 0;
    display:flex;
}
.contactInfo .box .icon {
    min-width: 60px;
    height: 60px;
    background:chocolate;
    display:flex;
    justify-content: center;
    align-items:center;
    border-radius: 50%;
    font-size:22px;

}

.contactInfo .box .text {
    display:flex;
    margin-left:20px;
    font-size:16px;
    color:white;
    flex-direction:column;
    font-weight: 300;
}

.contactInfo .box .text h3{
    font-weight:500;
    color:chocolate;

}
