h1{
    text-align:center;
    margin-top:5px;
}
.gallery{
    margin:5px;
    border: 5px solid #ccc;
    border-style:ridge;
    width:75%;
    display:block;
    flex-direction: column;
    text-align:center;
    justify-content: center;
    margin:auto;
    margin-top:50px;
    margin-bottom:5px;
}

.gallery img{
    width:100%;
    height:auto;
    justify-content: center;
}

.desc{
    padding:16px;
    text-align:center;
}

.gallery-button button{
    text-align:center;
    display:flex;
    flex-direction:row;
    margin-right:auto;
    margin-left:auto;
    width: 100px;
    padding:10px 30px;
    cursor:pointer;
    background:#777;
    color:white;
    border:none;
    border-radius:20px;

}

.gallery-button button:hover{
    background-color:rgb(221, 128, 7);
}