*{
    text-decoration:none;
    font-family: 'Fraunces', serif;
}

.navbar{
  display: flex;
  background-color:rgb(63, 63, 63);
  color:#fff;
  height:90px;
}

.container-flex{
    height:90px;
}

.imageContainer{
  display:flex;
  min-width: 150px;
  max-width: 150px;
  height:80px;
}

.navContainer {
  margin-left: auto;
}

.navContainer ul{
  height: 100%;
}

.navContainer li {
  margin-top: auto;
}

.imageContainer img{
    display:flex-start;
    width:100%;
    height:auto;
    vertical-align: middle;
    padding-top:5px;
    padding-left:0px;
}

.logo-text{
  margin-top: auto;
  font-size:32px;
  padding: 5px;
  border:rgb(221, 128, 7);
  font-weight:100;
  color:rgb(255, 255, 255);
  text-shadow:
      0.04em 0 black,
      0 0.04em black,
      -0.04em 0 black,
      0 -0.04em black;
}

.logo-text span{
    text-shadow:
        0.07em 0 black,
        0 0.07em black,
        -0.07em 0 black,
        0 -0.07em black;
    font-weight:900;
    color:rgb(221, 128, 7);
}

.navbar ul{
    width: 100%;
    display: flex;
    list-style: none;
    justify-content: right;
    font-size: 20px;
    text-shadow:
        0.07em 0 black,
        0 0.07em black,
        -0.07em 0 black,
        0 -0.07em black;
}

.navbar a {
    display:flex;
    color:#fff;
    padding:10px;
    margin:0 5px;
    text-decoration: none;
}

.navbar a:hover{
    border-bottom:4px rgb(221, 128, 7) solid;
}
